@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
font-size: 16px;
font-family: 'Roboto', sans-serif;
}
.wrapper {
    max-widht: 1200px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid gray;
}

header{
    width: 100%;
    
    color: rgb(231, 237, 241);
}
header a {
    color: rgb(48, 33, 32);
}

header a:hover {
    color: rgb(180, 48, 34);
}
header .top{
    background-color: rgb(40, 67, 90);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
header .top a{
    text-decoration: none;
    color:aliceblue
}
.top2{
    background-color: rgb(218, 230, 238);
    width: 150%;
    color: rgb(20, 29, 32)
}

.menu ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    }
    .menu ul li{
        margin-left: 15px;
        }
        .menu ul li:first-child{
            margin-left: 0;
            }
    .menu ul li a {
        text-decoration: none;
    }
    
footer .top{
    display: flex;
    justify-content: center;
    align-items: center;
} 
footer{
    width: 100%;
    background-color: rgb(40, 67, 90);
    color: rgb(231, 237, 241);
    padding: 15px;
}
.info__phone-fot{
    padding: 15px;
}
footer a {
    color: rgb(228, 235, 240);
}
.info2{
    display: flex;
    justify-content: center;
    align-items: center;
}  
.btn{
    border: 1px solid black;
    background-color: rgb(167, 164, 164);
    padding: 10px 20px;
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 175px;
    color: black
}
.btn-darc{
background-color: black;
color: white;
}
.main{
    display: flex;
}
.main__left{
    width: 30%;
    padding : 15px;
}
.main__right{
    width: 70%;
    padding : 15px;
}
.sidebar{
    border: 1px solid rgb(109, 96, 96);
    
}
.sidebar__list li {
padding: 5px 15px;
position: relative;
}
.sidebar__list li:hover .sub-sidebar__list{
display: block;
}
.sidebar a {
    text-decoration: none;
    color: rgb(31, 19, 19);
    padding: 2px;
}
.sidebar a:hover {
    background-color: rgb(209, 179, 9)
}
.sub-sidebar__list {
    display: none;
    padding: 0px 0px 0px 0px;
}
.sub-sidebar__list li{
    background-color: white);
}
.info {
    margin-top: 30px;
    display: flex;
    padding: 15px;
    border: 1px solid rgb(10, 8, 8);
}
.info.active{
    background-color: black;
    color:rgb(208, 217, 221)
}
.info__icon{
    width: 20%;
}
.info__text {
    width: 80%;
}
.info__text-title{
    font-size: 25px;
    font-weight: 700;
}
.info__text-description {
font-weight: 400;
}
.slider{
    border: 1px solid black;
    min-height: 200px;
    background-color: rgb(40, 67, 90);  
}
.main__right-title {
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}
.card-list {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.card{
border: 2px solid gray;
padding: 15px;
padding-bottom: 90px;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
margin-top: 15px;

}

.card__img {
    width: 160px;
    height: 160px;
    background-color: rgb(8, 9, 10);
    position: relative;
}
.card__img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.199);
}
.card__title {
    font-size: 18px;
    line-height: 20px;
}
.card__price {
    font-size: 16px;
    line-height: 18px;
}
.card__btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.card__btn div {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__btn div:nth-child(1) {
    background-color: black;
    color: white
}
.card__btn div:nth-child(2) {
    background-color: gray;
}
.product__info{
    display: flex;
}
.product__description{
    width: 50%
    padding: 15px;
}
.product__description-title{
    font-size: 22px;
    line-height: 25px;
}
.product__description-info{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 16px;
    margin-top: 15px;
}
.product__description-prise{
font-size: 25px;
font-weight: 600;
margin-top:20px;
}
.product__description-sail{
display: flex;
flex-direction: column;
margin-top:15px;
font-weight: 600;
font-size: 15px;
line-height: 18px;
}
.product__description-cards{
    display: flex;
    margin-top: 15px;

}
.product__description-cards div{
    border: 1px solid grey;
    margin-right: 15px;
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
}
.product__description-cards .visa{
    color: orange;
}
.product__description-cards .master{
    color: red;
}
.product__description-cartBtn{
    margin-top: 15px;
    display: flex;
}
.product__description-cartBtn .caunt{
    display: flex;
    flex-direction:column;
    margin-left: 15px;
}
.product__description-cartBtn .caunt{
    max-width: 95px;
}
.product__description-btn{
    margin-top: 15px;
}
.product__slider{
    width: 50%
}
.product__slider-preview {
    max-height: 316px;
    min-height: 270px;
    border: 1px solid black;
    background-color: rgb(40, 67, 90);
}
.product__slider-list{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}
.slider-item{
    border: 1px solid black;
    width: 60px;
    height: 41px;
    background-color: rgb(40, 67, 90);
}
.product__review-stars{
    display: flex;
      
}
.review{
    padding: 15px 15px 15px 5px; 
}
.stars{
    position: relative;
    font-size: 15px;
    padding: 15px 15px 15px 0px; 
}
.product__review-btn{
    display:flex;
}
.tab-item{
    padding: 25px;
    text-align: center;
}
.tab-item__two{
    display: flex;
    justify-content: space-between;
}
.main__ridht-header{
    display: flex;
   
}

.main__title{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.cards__Apple{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.maim__call-head{
    margin-top: 15px;
    padding: 15px
}
.maim__call-location{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid 
}
.main__call-cards{
    margin-top: 15px;
    padding: 15px;
    height: 50vh;
    border: 1px solid;
    background-color: blanchedalmond;
}
.main__call-read{
    margin-top: 15px;
    padding: 15px;
}

.mail-name {
    display: flex;
    justify-content: right;
    width: 100%;
    

}

.mail-name p {
    width: 150px;
}

.input__name {
    margin-left: 10px;
    width: 100%;
    border: 1px solid gray;
}
.mail__button{
    display: flex;
    border: 1px solid;
    

}
