@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
font-size: 16px;
font-family: 'Roboto', sans-serif;
}
.wrapper {
    max-widht: 1200px;
    margin: 0 auto;
}

header{
    width: 100%;
    
    color: rgb(231, 237, 241);
}
header a {
    color: rgb(48, 33, 32);
}

header a:hover {
    color: rgb(180, 48, 34);
}
header .top{
    background-color: rgb(40, 67, 90);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.top2{
    background-color: rgb(98, 105, 110);
    width: 150%;
    color: rgb(208, 217, 221)
}

.menu ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    }
    .menu ul li{
        margin-left: 15px;
        }
        .menu ul li:first-child{
            margin-left: 0;
            }
    .menu ul li a {
        text-decoration: none;
    }
    
footer .top{
    display: flex;
    justify-content: center;
    align-items: center;
} 
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(40, 67, 90);
    color: rgb(231, 237, 241);
    padding: 15px;
}
footer a {
    color: rgb(228, 235, 240);
}
.info2{
    display: flex;
    justify-content: center;
    align-items: center;
}  