@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
font-size: 16px;
font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    background-color: rgb(40, 67, 90);
    color: rgb(231, 237, 241);
    padding: 15px;
}
header a {
    color: rgb(231, 237, 241);
}
header .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    }
    .menu ul li{
        margin-left: 15px;
        }
    .menu ul li a {
        text-decoration: none;
    }
footer .top{
    display: flex;
    justify-content: center;
    align-items: center;
} 
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(40, 67, 90);
    color: rgb(231, 237, 241);
    padding: 15px;
}
footer a {
    color: rgb(228, 235, 240);
}
.info2{
    display: flex;
    justify-content: center;
    align-items: center;
}  